<!DOCTYPE html>

<html>
    <head>
        <!-- <link rel="stylesheet" href="./css/styles.css"> -->
        <link rel="stylesheet" href="/css/styles.css">

       
    </head>

    <body>
      <div class="main-content">
        {{>header}}
        <p>{{errorMessage}}</p>
      </div>
      
        {{!-- <h1>Weather WEB</h1> --}}
        {{!-- passing values  --}}
      


    {{>footer}}
    </body>
    
</html>