<!DOCTYPE html>

<html>
    <head>
        <title>about</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
     
 <div class="main-content">
   {{>header}}
    <img class = "portrait" src ="/img/Screenshot from 2019-03-12 12-27-16.png">
 </div>

    {{>footer}}
    </body>

</html>